.input-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

input {
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem 1rem 0.2rem 1rem;
  font-size: 1rem;
  line-height: 200%;
  transition: all 0.2s ease;
}

input:focus {
  transform: scale(1.04);
  box-shadow: 0rem 0.8rem 0px -0.4rem var(--line);
  outline: none;
}

label {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  font-size: 1rem;
  color: var(--line-op);
  font-size: 1rem;
  transform: scale(1);
  transition: all 0.2s ease;
}

.label-up {
  font-size: 0.8rem;
  top: 0.5rem;
  transform: scale(1.04);
}
