.input-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

input {
  background-color: var(--bg);
  border: var(--border);
  padding: 1.2rem 1rem;
  font-size: 1rem;
  transition: all 0.2s ease;
}

input:focus {
  transform: scale(1.04);
  box-shadow: -1px 1.4rem 0px -19px var(--line);
  outline: none;
}

label {
  position: absolute;
  top: 1.3rem;
  left: 1.2rem;
  font-size: 1rem;
  color: var(--line);
  font-size: 1rem;
  top: 1.3rem;
  transform: scale(1);
  transition: all 0.2s ease;
}

.label-up {
  font-size: 0.8rem;
  top: 0.5rem;
  transform: scale(1.04);
}
