.input-container {
  position: relative;
  height: fit-content;
  width: 100%;
}

input {
  width: 100%;
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem 1rem 0.2rem 1rem;
  font-size: 1rem;
  line-height: 200%;
}

input:focus {
  transform: scale(1.04) translateY(-0.4rem);
  box-shadow: 0rem 0.6rem 0px -0.4rem var(--line);
  outline: none;
}
input:focus + label {
  transform: translateX(-0.5rem) translateY(-0.4rem);
}
label {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  font-size: 1rem;
  color: var(--line-op);
  font-size: 1rem;
  transform: scale(1);
}

.label-up {
  font-size: 0.8rem;
  top: 0.5rem;
  transform: translateX(-0.1rem);
}
